<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:component-scan base-package="com.johnkuper.epam.beanpostprocessors"></context:component-scan>
	<context:component-scan base-package="com.johnkuper.epam.quoters"></context:component-scan>
	<context:property-placeholder location="classpath:quotes.properties" />


	<bean id="shakespeareQuoter" class="com.johnkuper.epam.quoters.ShakespeareQuoter"
		destroy-method="sayQuote" scope="prototype">
		<property name="message" value="${shakespeareQuote}" />
	</bean>

	<bean id="terminatorQuoter" class="com.johnkuper.epam.quoters.TerminatorQuoter">
		<property name="messages">
			<list>
				<value>I'll be back</value>
				<value>Trust me</value>
				<ref bean="hastaLaVistaBaby" />
			</list>
		</property>
	</bean>


	<bean id="hastaLaVistaBaby" class="java.lang.String">
		<constructor-arg value="Hasta la vista baby" />
	</bean>


</beans>
